### DEPLOY: Desde la carpeta root
## Bash/Linux/macOS
export STAGE=staging
export AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
export AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
export AWS_REGION=us-east-1
export API_NETWORK_URL=https://rpc.ankr.com/polygon/YOUR_ANKR_API_KEY # Create an account on https://www.ankr.com/rpc/ and generate your personal API key for free.
export CONTRACT_ADDRESS=YOUR_CONTRACT_ADDRESS_0x...
export PRIVATE_KEY=YOUR_PRIVATE_KEY_WITHOUT_0x
export API_BACKEND_URL_BASE=https://YOUR_API_ENDPOINT_URL.lambda-url.us-east-1.on.aws/api

echo $CONTRACT_ADDRESS # (Opcional) Para comprobar la creación de las variables 

## PowerShell/Windows
$env:STAGE="staging"
$env:AWS_ACCESS_KEY_ID="YOUR_AWS_ACCESS_KEY_ID"
$env:AWS_SECRET_ACCESS_KEY="YOUR_AWS_SECRET_ACCESS_KEY"
$env:AWS_REGION="us-east-1"
$env:API_NETWORK_URL="https://rpc.ankr.com/polygon/YOUR_ANKR_API_KEY" # Create an account on https://www.ankr.com/rpc/ and generate your personal API key for free.
$env:CONTRACT_ADDRESS="YOUR_CONTRACT_ADDRESS_0x..."
$env:PRIVATE_KEY="YOUR_PRIVATE_KEY_WITHOUT_0x"
$env:API_BACKEND_URL_BASE="https://YOUR_API_ENDPOINT_URL.lambda-url.us-east-1.on.aws/api"

echo $env:CONTRACT_ADDRESS # (Opcional) Para comprobar la creación de las variables


## Bash/Linux/macOS/PowerShell/Windows
bun sst deploy
