### Descomentar la URL de la API que se quiere probar:

## API Local en Antigravity/Visual Code/etc.
# VITE_API_BACKEND_URL_BASE = http://localhost:3000/api

## API Producción en AWS
VITE_API_BACKEND_URL_BASE=https://YOUR_API_ENDPOINT_URL.lambda-url.us-east-1.on.aws/api
